body {
    color: #00AEEF;
    background: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button {
    color: #00AEEF;
    border-radius: 10px;
}

button:hover {
    background: #00AEEF;
    color: white;
}

.navigation-container {
     display: grid;
     grid-template-columns: 20% 20% 20% 20% 20%;
     height: 45px;
     border: 2px solid;
     
}

.navigation-container .item {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-right: 2px solid;
    text-transform: uppercase;
    font-size: 30px;
}

.navigation-container .item:last-of-type {
    border-right: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.home-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
}

.home-container .item {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.home-container .item p {
    padding: 30px;
}

.home-container .img {
    background: url(https://cals.org/wp-content/uploads/2018/08/harry_potter-2.jpg) 50% 50% no-repeat;
    background-size: cover;
}

.home-container .item button {
    align-self: end;
    width: 300px;
    background: transparent;
    border: 1px solid;
    padding: 10px;
    font-size: 15px;
}

.team-container {
    display: grid;
    width: 90%;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin: 40px auto;
}

.team-container .item .circle {
    width: 15vw;
    height: 15vw;
    border: 2px solid;
    border-radius: 50%;
    margin: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .2s;
}

.team-container .item .circle p {
    font-size: 20px;
}

.team-container .item .circle-1:hover {
    background: #00AEEF;
    color: white;
}

.team-container .item .circle-2:hover {
    background: #0000FF;
    color: white;
}

.team-container .item .circle-3:hover {
    background: #FF00FF ;
    color: white;
}

.about-container {
    display: grid;
    width: 90%;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin: 25px auto;
}

.about-container .item .info {
    width: 20vw;
    height: 15vw;
    border: 2px solid;
    border-radius: 50px;
    margin: 7.5px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: .2s;
}

.about-container .item .info p {
    font-size: 20px;
}

.about-container .item .info:hover {
    background: #00AEEF;
    color: white;
}

.contact-container {
    width: 100%;
    height: 90px;
    background: #00aeef;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto;
}

.contact-container p {
    margin: 0;
    font-size: 25px;
    color: #fff;
}